<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
  <div>
    <label for="name"> Name </label>
    <input id="name" type="text" formControlName="name">
  </div>
  <div>
    <label for="followers"> followers </label>
    <input id="followers" type="number" formControlName="followers">
 </div>
 <div>
    <label for="description"> description </label>
    <input id="description" type="text" formControlName="description">
 </div>
 <button class="button" type="submit">Ajouter</button>
</form>
